<%- include('header') -%>

<div class="text-center center-div mt-5" id="login">
    <div class="container w-25 border py-5 mt-5">
        <h3><b>Welcome to Home Page</b></h3>
        <h5><%= locals.user ? user : "User" %></h5>
       
        <a href="/route/logout"><button type="Logout" class="btn btn-success rounded-pill">Logout</button></a>
    </div>
</div>

<%- include('footer') -%>